<div class="py-10 flex items-center justify-center bg-white px-4">
  <div class="w-full max-w-75">

    <!-- Title -->
    <h1 class="text-[24px] text-center font-semibold text-gray-800">
      Verify your phone number
    </h1>

    <!-- Subtitle -->
    <p class="mt-4 text-[18px] text-gray-600 leading-6">
      We'll send a confirmation message or give you a call to verify that this is
      your number.
    </p>

    <!-- Input Row -->
    <div class="relative mt-4 flex items-center  pb-2 gap-4">

      <!-- Country Code Button -->
      <div class="flex items-center gap-1 cursor-pointer border-b border-gray-300 mr-6" (click)="toggleDropdown()">
        <span class="text-[15px] text-gray-900 mr-5">{{ selectedCountry.code }}</span>
        <svg class="w-4 h-4 text-gray-600 transition " [class.rotate-180]="open" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.94a.75.75 0 111.08 1.04l-4.24 4.5a.75.75 0 01-1.08 0l-4.24-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd" />
        </svg>
      </div>

      <!-- Phone Input -->
      <div class="no">
        <input type="tel" placeholder="Enter phone number"
          class="flex-1 text-[15px] border-0 border-b border-gray-300 text-gray-900 placeholder-gray-400 outline-none mb-4" />
      </div>

      <!-- Dropdown -->
      <div *ngIf="open"
        class="absolute top-12 left-0 w-full max-w-105 bg-white rounded-xl border border-gray-300 shadow-lg  z-50">

        <!-- Search -->
        <div class="p-3 border-b border-gray-300">
          <input type="text" placeholder="Search" [(ngModel)]="search"
            class="w-full border-0 px-3 py-2 rounded-md bg-gray-100 outline-none text-sm" />
        </div>

        <!-- List -->
        <div class="max-h-70 overflow-y-auto">
          <div *ngFor="let c of filteredCountries()" (click)="selectCountry(c)"
            class="flex justify-between items-center px-4 py-3 hover:bg-gray-100 cursor-pointer text-sm">
            <span>{{ c.name }}</span>
            <span class="text-gray-500">{{ c.code }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Button -->
    <button
      class="mt-2 w-full bg-[#007C7A] hover:bg-[#006b69] text-white py-2 rounded-md text-[16px] font-medium transition">
      Send
    </button>

    <!-- Help -->
    <div class="mt-4 text-center">
      <span class="text-[18px] text-gray-600">
        Having trouble?
      </span>
      <a href="#" class="ml-1 text-[14px] text-[#007C7A] underline font-medium">
        Get help
      </a>
    </div>

  </div>
</div>