<div *ngIf="isModalOpen" class="h-full z-0 fixed bg-black/40 inset-0 top-20 flex justify-center items-center w-full">
    <div *ngIf="isModalOpen" class="fixed inset-0 z-50 bg-black/40 flex justify-center items-center">

        <div class="relative w-full px-20 max-w-[420px] bg-black overflow-visible">

            <!-- LEFT ARROW -->
            <button (click)="prev()" class="absolute left-3 top-1/2 -translate-y-1/2 z-[60]
             text-white
             w-4 h-6
             flex items-center justify-center
             text-3xl">
                &#10094;
            </button>

            <!-- RIGHT ARROW -->
            <button (click)="next()" class="absolute right-3 top-1/2 -translate-y-1/2 z-[60]
              text-white w-4 h-8
             flex items-center justify-center
             text-3xl">
                &#10095;
            </button>

            <!-- SLIDER -->
            <div #slider class="flex  overflow-x-hidden scroll-smooth snap-x snap-mandatory">

                <div class="min-w-full snap-center">
                    <img src="white-bag5.webp" class="w-full h-[420px] object-cover">
                </div>

                <div class="min-w-full snap-center">
                    <img src="white-bag4.webp" class="w-full h-[420px] object-cover">
                </div>

                <div class="min-w-full snap-center">
                    <img src="white-bag3.webp" class="w-full h-[420px] object-cover">
                </div>

            </div>
        </div>
    </div>

</div>