<header class="bg-white border-b border-gray-200 lg:pr-14 lg:pl-8 ">
  <div class="max-w-7xl mx-auto px-4">

    <!-- ================= TOP BAR ================= -->
    <div class="flex items-center justify-between h-14 border-b border-gray-200">

      <!-- Logo -->
      <div class="flex items-center">
        <img src="logo.f29f72cb.svg" alt="Vinted" class="h-10">
      </div>

      <!-- ================= DESKTOP SEARCH ================= -->
      <div class="hidden lg:flex flex-1 max-w-3xl mx-2">
        <div class="flex items-center bg-gray-100 rounded-md w-full h-9">

          <!-- Catalog -->
          <div class="relative">
            <button (click)="toggleCatalog()"
              class="flex items-center gap-2 px-3 h-9 border-r border-gray-300 hover:bg-gray-200">
              <span class="text-sm text-[#5A6566] font-medium">Catalog</span>
              <svg viewBox="0 0 16 16" width="16" height="16" class="fill-[#5A6566]">
                <path d="M8 12 2 6h12z"></path>
              </svg>
            </button>

            <div *ngIf="isCatalogOpen" class="absolute left-0 mt-2 w-36 rounded-md border bg-white shadow-lg z-50">
              <button class="block w-full px-4 py-2 text-left hover:bg-gray-100">
                Catalog
              </button>
              <button class="block w-full px-4 py-2 text-left hover:bg-gray-100">
                Member
              </button>
            </div>
          </div>

          <!-- Search -->
          <div class="relative flex-1">
            <svg class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#7A8384]" fill="none"
              stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>

            <input type="text" placeholder="Search for items"
              class="border-none w-full pl-10 pr-10 h-9 bg-[#EDF2F2] rounded-r-md focus:outline-none">

            <button class="absolute right-1 top-6 -translate-y-1/2" (click)="openModal()">
              <svg class="w-6 h-6 text-[#007782]" fill="none" stroke="" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M8.75 1.004a.75.75 0 0 1 0 1.5H7.07a1.25 1.25 0 0 0-1.04.557c-.255.383-.494.943-1.03.943H2.75c-.69 0-1.25.56-1.25 1.25v7c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-5.5a.75.75 0 0 1 1.5 0v5.5a2.75 2.75 0 0 1-2.75 2.75H2.75A2.75 2.75 0 0 1 0 12.254v-7a2.75 2.75 0 0 1 2.75-2.75h1.849l.183-.275A2.75 2.75 0 0 1 7.07 1.004zm-.749 4a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m0 1.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4m5.012-6c.15 0 .312.088.375.263l.2.537c.187.512.587.912 1.1 1.112l.55.213a.4.4 0 0 1 0 .75l-.55.213c-.513.2-.913.6-1.1 1.112l-.2.537a.4.4 0 0 1-.388.263.4.4 0 0 1-.388-.263l-.2-.537a1.9 1.9 0 0 0-1.1-1.112l-.55-.213a.4.4 0 0 1 0-.75l.55-.213c.513-.2.913-.6 1.1-1.112l.2-.537a.43.43 0 0 1 .4-.263Z">
                </path>ng
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- ================= DESKTOP ACTIONS ================= -->
      <div class="hidden lg:flex items-center gap-3">

        <!-- Sign up / Login -->
        <div class="flex border border-[#007782] rounded-md overflow-hidden" routerLink="/login">
          <button class="px-3 py-1.5 text-xs text-[#007782] hover:bg-teal-50">
            Sign up
          </button>
          <div class="w-px bg-[#007782]"></div>
          <button class="px-3 py-1.5 text-xs text-[#007782] hover:bg-teal-50">
            Log in
          </button>
        </div>

        <!-- Sell -->
        <button routerLink="/login" class="px-4 py-1.5 bg-[#007782] text-white text-xs rounded-md">
          Sell now
        </button>

        <!-- Help -->
        <button class="w-7 h-7 border rounded-full text-[#5A6566]">?</button>

        <!-- Language -->
        <div class="relative">
          <button (click)="toggleLanguage()" class="flex items-center gap-1 px-2 py-1">
            <span class="text-sm text-[#5A6566]">EN</span>
            <svg viewBox="0 0 16 16" width="16" height="16" class="fill-[#5A6566]">
              <path d="M8 12 2 6h12z"></path>
            </svg>
          </button>

          <div *ngIf="isLanguageOpen" class="absolute right-0 mt-2 w-44 border rounded-lg bg-white shadow-lg z-1">
            <button class="block w-full px-4 py-2 hover:bg-gray-100">
              English (US)
            </button>
            <button class="block w-full px-4 py-2 hover:bg-gray-100">
              Español (US)
            </button>
          </div>
        </div>
      </div>

      <!-- ================= MOBILE HAMBURGER (RIGHT) ================= -->
      <button class="lg:hidden p-2" (click)="toggleMobileMenu()">
        <svg class="w-6 h-6 text-[#5A6566]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </div>
     <!-- ================= MOBILE SEARCH ================= -->
       <div class="flex lg:hidden flex-1 max-w-4xl  my-2">
        <div class="flex items-center bg-gray-100 rounded-md w-full h-9">

          <!-- Catalog -->
          <div class="relative">
            <button (click)="toggleCatalog()"
              class="flex items-center gap-2 px-3 h-9 border-r border-gray-300 hover:bg-gray-200">
              <span class="text-sm text-[#5A6566] font-medium">Catalog</span>
              <svg viewBox="0 0 16 16" width="16" height="16" class="fill-[#5A6566]">
                <path d="M8 12 2 6h12z"></path>
              </svg>
            </button>
            <div *ngIf="isCatalogOpen" class="absolute left-0 mt-2 w-36 rounded-md border bg-white shadow-lg z-50">
              <button class="block w-full px-4 py-2 text-left hover:bg-gray-100">
                Catalog
              </button>
              <button class="block w-full px-4 py-2 text-left hover:bg-gray-100">
                Member
              </button>
            </div>
          </div>
          <!-- Search -->
          <div class="relative flex-1">
            <svg class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#7A8384]" fill="none"
              stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>

            <input type="text" placeholder="Search for items"
              class="border-none w-full pl-10 pr-10 h-9 bg-[#EDF2F2] rounded-r-md focus:outline-none">

            <button class="absolute right-1 top-6 -translate-y-1/2" (click)="openModal()">
              <svg class="w-6 h-6 text-[#007782]" fill="none" stroke="" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M8.75 1.004a.75.75 0 0 1 0 1.5H7.07a1.25 1.25 0 0 0-1.04.557c-.255.383-.494.943-1.03.943H2.75c-.69 0-1.25.56-1.25 1.25v7c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-5.5a.75.75 0 0 1 1.5 0v5.5a2.75 2.75 0 0 1-2.75 2.75H2.75A2.75 2.75 0 0 1 0 12.254v-7a2.75 2.75 0 0 1 2.75-2.75h1.849l.183-.275A2.75 2.75 0 0 1 7.07 1.004zm-.749 4a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m0 1.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4m5.012-6c.15 0 .312.088.375.263l.2.537c.187.512.587.912 1.1 1.112l.55.213a.4.4 0 0 1 0 .75l-.55.213c-.513.2-.913.6-1.1 1.112l-.2.537a.4.4 0 0 1-.388.263.4.4 0 0 1-.388-.263l-.2-.537a1.9 1.9 0 0 0-1.1-1.112l-.55-.213a.4.4 0 0 1 0-.75l.55-.213c.513-.2.913-.6 1.1-1.112l.2-.537a.43.43 0 0 1 .4-.263Z">
                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
  </div>
</header>
<app-img-upload></app-img-upload>
<app-menu></app-menu>