 <nav class="bg-white border-b border-gray-200">
        <div class="max-w-7xl mx-auto px-9">
            <ul class="flex items-center gap-9">
                <li>
                    <a href="#" class="block py-5 text-sm  text-gray-600 hover:text-black transition-colors">
                        Women
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Men
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Designer
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Kids
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Electronics
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Entertainment
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Hobbies & collectibles
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        Sports
                    </a>
                </li>
                <li>
                    <a href="#" class="block py-5 text-sm text-gray-600 hover:text-black transition-colors">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </nav>