<nav class="bg-white border-b border-gray-200 relative no-scrollbar max-lg:overflow-x-scroll">
    <div class="max-w-7xl mx-auto px-4">
        <ul class="flex items-center gap-3 h-10">

            <li class="group"><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Women</a>
                <!-- MEGA MENU -->
                <div class="absolute left-0 top-full w-screen bg-white border-t shadow-lg
                 opacity-0 invisible group-hover:opacity-100 group-hover:visible
                 transition-all duration-200 z-50">
                    <div class="max-w-7xl mx-auto px-9 py-10 flex">

                        <!-- LEFT SIDEBAR -->
                        <div class="w-56 border-r border-gray-200 pr-6">
                            <ul class="space-y-5 text-[15px] text-[#2F3333]">

                                <li class="flex items-center gap-3  text-gray-600 hover:text-black hover:font-medium">
                                    <svg fill="none" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true"
                                        class="text-[#007782]">
                                        <path fill="currentColor"
                                            d="M6 4.5a1.5 1.5 0 1 0-2.999-.001A1.5 1.5 0 0 0 6 4.5m0 15a1.5 1.5 0 1 0-2.999-.001A1.5 1.5 0 0 0 6 19.5m-1.469-9a1.5 1.5 0 1 1 .002 2.999A1.5 1.5 0 0 1 4.53 10.5Zm8.969-6a1.5 1.5 0 1 0-2.999-.001A1.5 1.5 0 0 0 13.5 4.5M12 18a1.5 1.5 0 1 1 .001 2.999A1.5 1.5 0 0 1 12 18m1.5-6a1.5 1.5 0 1 0-2.999-.001A1.5 1.5 0 0 0 13.5 12m6-9a1.5 1.5 0 1 1 .001 2.999A1.5 1.5 0 0 1 19.5 3M21 19.5a1.5 1.5 0 1 0-2.999-.001A1.5 1.5 0 0 0 21 19.5m-1.5-9a1.5 1.5 0 1 1 .001 2.999A1.5 1.5 0 0 1 19.5 10.5">
                                        </path>
                                    </svg> All
                                    
                                </li>

                                <li class="flex items-center justify-between cursor-pointer">
                                    <span class="flex items-center gap-3
                                     hover:text-black hover:font-medium">
                                        <img src="icon.png" alt="" class="w-[24px] h-[24px]"> Clothing
                                    </span>
                                    <span class="web_ui__Icon__icon" data-testid="chevron-Clothing" 
                                        style="width: 16px;">
                                        <svg fill="none" viewBox="0 0 16 16" width="16" height="16"
                                            aria-hidden="true">
                                            <path fill="currentColor"
                                                d="M5.47 2.47a.75.75 0 0 0 0 1.06L9.94 8l-4.47 4.47a.75.75 0 1 0 1.06 1.06l5-5a.75.75 0 0 0 0-1.06l-5-5a.75.75 0 0 0-1.06 0">
                                            </path>
                                        </svg></span>
                                </li>

                                <li class="flex items-center gap-3 cursor-pointer hover:text-black hover:font-medium">
                                    <img src="shoe ico.png" alt="" class="w-[24px] h-[24px]"> Shoes
                                    
                                </li>
                                <li class="flex items-center gap-3 cursor-pointer hover:text-black hover:font-medium">
                                    <img src="bag-icon.png" alt="" class="w-[24px] h-[24px]"> Bags
                                </li>
                                <li class="flex items-center gap-3 cursor-pointer hover:text-black hover:font-medium">
                                    <img src="jewelery icon.png" alt="" class="w-[24px] h-[24px]"> Accessories
                                </li>
                                <li class="flex items-center gap-3 cursor-pointer hover:text-black hover:font-medium">
                                    <img src="beauty-icon.png" alt="" class="w-[24px] h-[24px]"> Beauty
                                </li>

                            </ul>
                        </div>

                        <!-- RIGHT CONTENT -->
                        <div class="flex-1 grid grid-cols-2 lg:grid-cols-3 gap-12 pl-10 text-[15px] text-[#2F3333]">
                            <ul class="space-y-4">
                                <li class="font-medium">All</li>
                                <li>Jumpers & sweaters</li>
                                <li>Dresses</li>
                                <li>Tops & T-shirts</li>
                                <li>Pants & leggings</li>
                                <li>Jumpsuits & rompers</li>
                                <li>Lingerie & nightwear</li>
                                <li>Activewear</li>
                                <li>Other clothing</li>
                            </ul>
                            <ul class="space-y-4">
                                <li class="opacity-0">Hidden</li>
                                <li>Outerwear</li>
                                <li>Suits & blazers</li>
                                <li>Skirts</li>
                                <li>Jeans</li>
                                <li>Shorts & cropped pants</li>
                                <li>Swimwear</li>
                                <li>Maternity clothes</li>
                                <li>Costumes & special outfits</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </li>
            <li><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Men</a></li>
            <li><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Designer</a></li>
            <li><a class="block  text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Kids</a></li>
            <li><a class="block  text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Home</a></li>
            <li><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Electronics</a></li>
            <li><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Entertainment</a></li>
            <li><a class="block text-sm text-gray-600 hover:text-black
            transition-colors text-nowrap border rounded-full  px-4 py-1 lg:border-none">Hobbies & collectibles</a></li>
            <li><a class="block text-sm text-gray-600 hover:text-black transition-colors border rounded-full  px-4 py-1 lg:border-none">Sports</a></li>

            <!-- ABOUT -->
            <li class=" group">
                <a href="#" class="block py-3 text-sm text-gray-600 hover:text-black transition-colors
                 border-b-2 border-transparent group-hover:border-grey-600 hidden lg:flex border rounded-full  px-4 py-1 lg:border-none">
                    About
                </a>

                <!-- MEGA MENU -->
                <div class="absolute left-0 right-0 top-full w-screen bg-white border-t shadow-lg
                 opacity-0 invisible group-hover:opacity-100 group-hover:visible
                 transition-all duration-200 z-50">
                    <div class="max-w-7xl mx-auto px-9 py-12">
                        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-10">

                            <!-- Discover -->
                            <div>
                                <h3 class="text-[15px] text-gray-600 mb-4">
                                    Discover
                                </h3>
                                <ul class="space-y-3 text-[15px] text-gray-600">
                                    <li><a class="hover:text-[#007782] cursor-pointer">How it works</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Mobile apps</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Help Center</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Infoboard</a></li>
                                </ul>
                            </div>

                            <!-- Company -->
                            <div>
                                <h3 class="text-[15px]  text-gray-600 mb-4">
                                    Company
                                </h3>
                                <ul class="space-y-3 text-[15px] text-gray-600">
                                    <li><a class="hover:text-[#007782] cursor-pointer">About us</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Sustainability</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Press</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Advertising</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Accessibility</a></li>
                                </ul>
                            </div>

                            <!-- Policies -->
                            <div>
                                <h3 class="text-[15px] text-gray-600 mb-4">
                                    Policies
                                </h3>
                                <ul class="space-y-3 text-[15px] text-gray-600">
                                    <li><a class="hover:text-[#007782] cursor-pointer">Trust and Safety</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Privacy Center</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Terms & Conditions</a></li>
                                    <li><a class="hover:text-[#007782] cursor-pointer">Cookie policy</a></li>
                                </ul>
                            </div>

                            <!-- Privacy -->
                            <div>
                                <h3 class="text-[15px] text-gray-600 mb-4">
                                    Privacy
                                </h3>
                                <ul class="space-y-3 text-[15px] text-gray-600">
                                    <li><a class="hover:text-[#007782] cursor-pointer">Cookie settings</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</nav>